doctype
html
    include ../components/head
    body
        .callout.large.primary
            .row.column.text-center
                h1 Leichtjoon @_@
                h2 Hello World!!
        include ../components/footer